<head>
    <style>
        table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}














/* general styling */
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}
    </style>    
</head>
  
<body>
    <table class="table table-bordered table-hover table-condensed">
        <thead><tr><th title="Field #1">#Mod_Priority</th>
        <th title="Field #2">#Mod_Status</th>
        <th title="Field #3">#Mod_Name</th>
        <th title="Field #4">#Mod_Version</th>
        <th title="Field #5">#Install_Date</th>
        </tr></thead>
        <tbody><tr>
        <td align="right">0000</td>
        <td>+</td>
        <td>DLC: HearthFires</td>
        <td> </td>
        <td>2022/04/11 18:56:03</td>
        </tr>
        <tr>
        <td align="right">0001</td>
        <td>+</td>
        <td>DLC: Dragonborn</td>
        <td> </td>
        <td>2022/04/11 18:48:23</td>
        </tr>
        <tr>
        <td align="right">0002</td>
        <td>+</td>
        <td>DLC: Dawnguard</td>
        <td> </td>
        <td>2022/04/11 18:47:28</td>
        </tr>
        <tr>
        <td align="right">0003</td>
        <td>+</td>
        <td>SkyUI_5_2_SE</td>
        <td>d2022.4.5.0</td>
        <td>2022/04/11 19:46:38</td>
        </tr>
        <tr>
        <td align="right">0004</td>
        <td>+</td>
        <td>.NET Script Framework</td>
        <td>18.0.0.0</td>
        <td>2022/04/11 21:29:02</td>
        </tr>
        <tr>
        <td align="right">0005</td>
        <td>+</td>
        <td>opencitiesskyrimsse</td>
        <td>d2022.4.5.0</td>
        <td>2022/04/11 19:46:59</td>
        </tr>
        <tr>
        <td align="right">0006</td>
        <td>+</td>
        <td>Grass Control</td>
        <td>d2022.4.11.0</td>
        <td>2022/04/11 21:29:32</td>
        </tr>
        <tr>
        <td align="right">0007</td>
        <td>+</td>
        <td>Address Library for SKSE Plugins</td>
        <td>2.0.0.0</td>
        <td>2022/04/11 19:42:11</td>
        </tr>
        <tr>
        <td align="right">0008</td>
        <td>+</td>
        <td>SSE Engine Fixes (skse64 plugin)</td>
        <td>5.8.3.0</td>
        <td>2022/04/11 19:43:04</td>
        </tr>
        <tr>
        <td align="right">0009</td>
        <td>+</td>
        <td>Unofficial Skyrim Special Edition Patch</td>
        <td>d2022.4.10.0</td>
        <td>2022/04/11 19:46:01</td>
        </tr>
        <tr>
        <td align="right">0010</td>
        <td>+</td>
        <td>SkyHUD</td>
        <td>0.90.0.0B</td>
        <td>2022/04/11 19:50:03</td>
        </tr>
        <tr>
        <td align="right">0011</td>
        <td>+</td>
        <td>MCM Helper SE</td>
        <td>d2022.4.6.0</td>
        <td>2022/04/11 19:51:14</td>
        </tr>
        <tr>
        <td align="right">0012</td>
        <td>+</td>
        <td>Nemesis Unlimited Behavior Engine</td>
        <td>d2022.4.6.0</td>
        <td>2022/04/11 19:51:33</td>
        </tr>
        <tr>
        <td align="right">0013</td>
        <td>+</td>
        <td>TrueHUD (SE)</td>
        <td>d2022.4.6.0</td>
        <td>2022/04/11 19:52:35</td>
        </tr>
        <tr>
        <td align="right">0014</td>
        <td>+</td>
        <td>True Directional Movement (SE)</td>
        <td>d2022.4.6.0</td>
        <td>2022/04/11 19:52:50</td>
        </tr>
        <tr>
        <td align="right">0015</td>
        <td>+</td>
        <td>NORDIC UI - Interface Overhaul</td>
        <td>2.4.1.0</td>
        <td>2022/04/11 19:53:32</td>
        </tr>
        <tr>
        <td align="right">0016</td>
        <td>+</td>
        <td>Nordic-ish - A Preset for TrueHUD based on Nordic UI</td>
        <td>d2022.4.6.0</td>
        <td>2022/04/11 19:53:43</td>
        </tr>
        <tr>
        <td align="right">0017</td>
        <td>+</td>
        <td>powerofthree&#39;s Tweaks SE</td>
        <td>d2022.4.6.0</td>
        <td>2022/04/11 19:54:30</td>
        </tr>
        <tr>
        <td align="right">0018</td>
        <td>+</td>
        <td>Spell Perk Item Distributor - SSE</td>
        <td>d2022.4.6.0</td>
        <td>2022/04/11 19:54:51</td>
        </tr>
        <tr>
        <td align="right">0019</td>
        <td>+</td>
        <td>DynDOLOD Resources SE</td>
        <td>f3.00</td>
        <td>2022/04/11 23:06:51</td>
        </tr>
        <tr>
        <td align="right">0020</td>
        <td>+</td>
        <td>Maximum Carnage</td>
        <td>d2022.4.6.0</td>
        <td>2022/04/11 19:55:06</td>
        </tr>
        <tr>
        <td align="right">0021</td>
        <td>+</td>
        <td>Maximum Carnage Tweaks (v6.9.9) - Configurable Attacks</td>
        <td>d2022.4.6.0</td>
        <td>2022/04/11 19:55:14</td>
        </tr>
        <tr>
        <td align="right">0022</td>
        <td>+</td>
        <td>Enhanced Blood Textures</td>
        <td>4.0.0.0</td>
        <td>2022/04/11 20:02:56</td>
        </tr>
        <tr>
        <td align="right">0023</td>
        <td>+</td>
        <td>Brutal Blood sounds for EBT</td>
        <td>d2022.4.5.0</td>
        <td>2022/04/11 20:03:10</td>
        </tr>
        <tr>
        <td align="right">0024</td>
        <td>+</td>
        <td>Sanguine - Enhanced Blood Retexture 1K</td>
        <td>1.4.1.0</td>
        <td>2022/04/11 20:03:23</td>
        </tr>
        <tr>
        <td align="right">0025</td>
        <td>+</td>
        <td>JK&#39;s Skyrim all in one</td>
        <td>d2022.4.5.0</td>
        <td>2022/04/11 20:07:00</td>
        </tr>
        <tr>
        <td align="right">0026</td>
        <td>+</td>
        <td>Static Mesh Improvement Mod</td>
        <td>f2.08</td>
        <td>2022/04/11 20:04:04</td>
        </tr>
        <tr>
        <td align="right">0027</td>
        <td>+</td>
        <td>Embers XD</td>
        <td>2.5.7.0</td>
        <td>2022/04/12 12:52:04</td>
        </tr>
        <tr>
        <td align="right">0028</td>
        <td>+</td>
        <td>Water for ENB</td>
        <td>1.61.0.0</td>
        <td>2022/04/11 20:24:20</td>
        </tr>
        <tr>
        <td align="right">0029</td>
        <td>+</td>
        <td>Particle Patch for ENB</td>
        <td>1.0.5.0</td>
        <td>2022/04/11 20:28:39</td>
        </tr>
        <tr>
        <td align="right">0030</td>
        <td>+</td>
        <td>B. Noble Skyrim - FULL PACK_Performance Edition</td>
        <td>d2022.4.11.0</td>
        <td>2022/04/11 20:04:44</td>
        </tr>
        <tr>
        <td align="right">0031</td>
        <td>+</td>
        <td>Noble Skyrim - SMIM Patch</td>
        <td>5.5.0.0</td>
        <td>2022/04/12 11:15:08</td>
        </tr>
        <tr>
        <td align="right">0032</td>
        <td>+</td>
        <td>JK&#39;s Skyrim - Towns</td>
        <td>d2022.4.6.0</td>
        <td>2022/04/11 20:05:17</td>
        </tr>
        <tr>
        <td align="right">0033</td>
        <td>+</td>
        <td>Landscape Fixes For Grass Mods</td>
        <td>d2022.4.5.0</td>
        <td>2022/04/11 20:05:52</td>
        </tr>
        <tr>
        <td align="right">0034</td>
        <td>+</td>
        <td>JK&#39;s Skyrim - Open Cities Patch</td>
        <td>d2022.4.5.0</td>
        <td>2022/04/11 20:06:09</td>
        </tr>
        <tr>
        <td align="right">0035</td>
        <td>+</td>
        <td>Immersive Citizens - AI Overhaul</td>
        <td>0.4.0.0</td>
        <td>2022/04/11 20:10:46</td>
        </tr>
        <tr>
        <td align="right">0036</td>
        <td>+</td>
        <td>Immersive Patrols SE</td>
        <td>d2022.4.6.0</td>
        <td>2022/04/11 20:10:55</td>
        </tr>
        <tr>
        <td align="right">0037</td>
        <td>+</td>
        <td>RS Children Overhaul</td>
        <td>1.1.3.0</td>
        <td>2022/04/11 20:11:49</td>
        </tr>
        <tr>
        <td align="right">0038</td>
        <td>+</td>
        <td>Immersive World Encounters SE</td>
        <td>3.6.1.0</td>
        <td>2022/04/11 20:12:05</td>
        </tr>
        <tr>
        <td align="right">0039</td>
        <td>+</td>
        <td>AI Overhaul for SE Only</td>
        <td>d2022.4.5.0</td>
        <td>2022/04/11 20:13:01</td>
        </tr>
        <tr>
        <td align="right">0040</td>
        <td>+</td>
        <td>AI Overhaul - Open Cities</td>
        <td>d2022.4.10.0</td>
        <td>2022/04/11 20:12:26</td>
        </tr>
        <tr>
        <td align="right">0041</td>
        <td>+</td>
        <td>RaceMenu Special Edition</td>
        <td>d2022.4.6.0</td>
        <td>2022/04/11 20:20:28</td>
        </tr>
        <tr>
        <td align="right">0042</td>
        <td>+</td>
        <td>Alternate Start - Live Another Life</td>
        <td>d2022.4.6.0</td>
        <td>2022/04/11 20:20:44</td>
        </tr>
        <tr>
        <td align="right">0043</td>
        <td>+</td>
        <td>Cathedral - Weathers</td>
        <td>d2022.4.10.0</td>
        <td>2022/04/11 20:21:05</td>
        </tr>
        <tr>
        <td align="right">0044</td>
        <td>+</td>
        <td>R.A.S.S. - Rain Ash And Snow Shaders</td>
        <td>3.2.2.0</td>
        <td>2022/04/11 20:22:58</td>
        </tr>
        <tr>
        <td align="right">0045</td>
        <td>+</td>
        <td>EVLaS</td>
        <td>d2022.4.11.0</td>
        <td>2022/04/11 20:23:51</td>
        </tr>
        <tr>
        <td align="right">0046</td>
        <td>+</td>
        <td>Obsidian Mountain Fogs 1.01.zip</td>
        <td>d2022.4.11.0</td>
        <td>2022/04/11 20:24:58</td>
        </tr>
        <tr>
        <td align="right">0047</td>
        <td>+</td>
        <td>Window Shadows RT (beta)</td>
        <td>RTbeta5</td>
        <td>2022/04/11 20:25:49</td>
        </tr>
        <tr>
        <td align="right">0048</td>
        <td>+</td>
        <td>ENB Helper SE 1.5 for SSE 1.5.97</td>
        <td>d2022.4.10.0</td>
        <td>2022/04/11 20:26:05</td>
        </tr>
        <tr>
        <td align="right">0049</td>
        <td>+</td>
        <td>ENB Light</td>
        <td>0.94.0.0</td>
        <td>2022/04/11 20:27:39</td>
        </tr>
        <tr>
        <td align="right">0050</td>
        <td>+</td>
        <td>Landscapes - Cathedral Concept</td>
        <td>3.0.1.0</td>
        <td>2022/04/11 20:49:32</td>
        </tr>
        <tr>
        <td align="right">0051</td>
        <td>+</td>
        <td>LODGEN Textures for Cathedral Grass</td>
        <td>d2022.4.10.0</td>
        <td>2022/04/11 21:33:04</td>
        </tr>
        <tr>
        <td align="right">0052</td>
        <td>+</td>
        <td>Majestic Mountains</td>
        <td>3.20.0.0</td>
        <td>2022/04/11 21:11:09</td>
        </tr>
        <tr>
        <td align="right">0053</td>
        <td>+</td>
        <td>Majestic Mountains - Lod Pack</td>
        <td>1.1.0.0</td>
        <td>2022/04/12 14:16:29</td>
        </tr>
        <tr>
        <td align="right">0054</td>
        <td>+</td>
        <td>Myrkvior - The Flora Of Skyrim - Trees SSE</td>
        <td>1.5.0.0</td>
        <td>2022/04/11 21:04:46</td>
        </tr>
        <tr>
        <td align="right">0055</td>
        <td>+</td>
        <td>Undead FX 4.2</td>
        <td>d2022.4.10.0</td>
        <td>2022/04/11 21:11:46</td>
        </tr>
        <tr>
        <td align="right">0056</td>
        <td>+</td>
        <td>Skyrim - Undeath SSE 1.7</td>
        <td>d2022.4.10.0</td>
        <td>2022/04/11 21:12:18</td>
        </tr>
        <tr>
        <td align="right">0057</td>
        <td>+</td>
        <td>Draugr Upgrades and Improvements (Draugr and Skeleton Overhaul)</td>
        <td>2.4.0.0</td>
        <td>2022/04/11 21:23:17</td>
        </tr>
        <tr>
        <td align="right">0058</td>
        <td>+</td>
        <td>Particle Lights For ENB SE - Undead Creatures</td>
        <td>1.0.0.0</td>
        <td>2022/04/11 21:25:07</td>
        </tr>
        <tr>
        <td align="right">0059</td>
        <td>+</td>
        <td>Particle Lights For ENB SE - Bugs in a Jar</td>
        <td>1.1.0.0a</td>
        <td>2022/04/11 21:26:38</td>
        </tr>
        <tr>
        <td align="right">0060</td>
        <td>+</td>
        <td>Particle Lights For ENB SE - Ingredients</td>
        <td>1.2.0.0</td>
        <td>2022/04/11 21:26:48</td>
        </tr>
        <tr>
        <td align="right">0061</td>
        <td>+</td>
        <td>Particle Lights For ENB SE - Paragon Gems</td>
        <td>1.2.0.0</td>
        <td>2022/04/11 21:26:42</td>
        </tr>
        <tr>
        <td align="right">0062</td>
        <td>+</td>
        <td>Skeleton Replacer HD</td>
        <td>1.1.0.0</td>
        <td>2022/04/11 21:24:26</td>
        </tr>
        <tr>
        <td align="right">0063</td>
        <td>+</td>
        <td>aMidianBorn Book of Silence SE</td>
        <td>d2022.4.6.0</td>
        <td>2022/04/11 21:30:01</td>
        </tr>
        <tr>
        <td align="right">0064</td>
        <td>+</td>
        <td>Cloaks of Skyrim SSE</td>
        <td>1.2.1.0</td>
        <td>2022/04/11 21:30:35</td>
        </tr>
        <tr>
        <td align="right">0065</td>
        <td>+</td>
        <td>Immersive Armors 8.1 SSE Test</td>
        <td>d2022.4.10.0</td>
        <td>2022/04/11 21:31:15</td>
        </tr>
        <tr>
        <td align="right">0066</td>
        <td>+</td>
        <td>Immersive Weapons</td>
        <td>d2022.4.10.0</td>
        <td>2022/04/11 21:32:08</td>
        </tr>
        <tr>
        <td align="right">0067</td>
        <td>+</td>
        <td>Immersive Dragons</td>
        <td>d2022.4.10.0</td>
        <td>2022/04/11 21:32:25</td>
        </tr>
        <tr>
        <td align="right">0068</td>
        <td>+</td>
        <td>Diverse Dragons Collection SE</td>
        <td>d2022.4.5.0</td>
        <td>2022/04/11 21:32:34</td>
        </tr>
        <tr>
        <td align="right">0069</td>
        <td>+</td>
        <td>WICO - Windsong Immersive Chracter Overhaul</td>
        <td>0.9.0.0f</td>
        <td>2022/04/11 21:33:25</td>
        </tr>
        <tr>
        <td align="right">0070</td>
        <td>+</td>
        <td>Landscape Fixes For Grass Mods - Immersive Citizens Patch</td>
        <td>f1.01</td>
        <td>2022/04/11 21:37:12</td>
        </tr>
        <tr>
        <td align="right">0071</td>
        <td>+</td>
        <td>Landscape Fixes For Grass Mods Arthmoor Patches</td>
        <td>1.0.5.0</td>
        <td>2022/04/11 21:38:31</td>
        </tr>
        <tr>
        <td align="right">0072</td>
        <td>+</td>
        <td>Grass Cache</td>
        <td>d2022.4.11.0</td>
        <td>2022/04/11 22:54:49</td>
        </tr>
        <tr>
        <td align="right">0073</td>
        <td>+</td>
        <td>PapyrusUtil SE - Scripting Utility Functions</td>
        <td>d2022.4.6.0</td>
        <td>2022/04/11 23:47:51</td>
        </tr>
        <tr>
        <td align="right">0074</td>
        <td>+</td>
        <td>JKs Skyrim - AI Overhaul SSE Patch</td>
        <td>d2022.4.10.0</td>
        <td>2022/04/11 23:48:20</td>
        </tr>
        <tr>
        <td align="right">0075</td>
        <td>+</td>
        <td>Storm Lightning for SSE and VR (Minty Lightning 2019)</td>
        <td>1.4.14.0</td>
        <td>2022/04/11 23:50:12</td>
        </tr>
        <tr>
        <td align="right">0076</td>
        <td>+</td>
        <td>eFPS - Exterior FPS boost</td>
        <td>d2022.4.6.0</td>
        <td>2022/04/12 00:00:31</td>
        </tr>
        <tr>
        <td align="right">0077</td>
        <td>+</td>
        <td>eFPS - Official Patch Hub</td>
        <td>1.7.0.0a</td>
        <td>2022/04/12 00:00:58</td>
        </tr>
        <tr>
        <td align="right">0078</td>
        <td>+</td>
        <td>SSE Display Tweaks</td>
        <td>d2022.4.10.0</td>
        <td>2022/04/12 00:29:51</td>
        </tr>
        </tbody></table>
</body>
